*{
    border: 1px solid white;
}
.container{
    margin: 0 auto;
    width: 100%;
    height:auto;
    background-color: var(--container-bck-color);
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 5%;  
}

header .brand{
    width: 300px;
    height: auto;
    padding: 5%;  
}

header .title{
    width: 70%;
    height: auto;
    padding: 5%;  
}

header .screen-mode{
    width: 20%;
    height: auto;
    padding: 5%;  
}

header .screen-mode-dark .screen-mode-light{
    width: 49%;
    height: auto;
    padding: 5%;  
}